<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit_category.name %>
</p>

<%= link_to 'Edit', edit_unit_category_path(@unit_category) %> |
<%= link_to 'Back', unit_categories_path %>
